#inicio {
    font-family: montserrat;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: antiquewhite;
}

#opcoes {
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    text-align: center;
    font-size: 15px;
    
}
body {
    background-image: url('Eu\ na\ Quadra\ \(Editado\ por\ galaxy\ AI\).jpg');
    background-size: cover; /* Faz a imagem ocupar toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */

}
  button {
    background-color: #00345f; /* verde */
    color: rgb(255, 242, 0); /* cor da letra */
    padding: 10px 20px; /* espaço interno */
    border: none; /* sem borda */
    border-radius: 5px; /* cantos arredondados */
    cursor: pointer; /* muda o cursor ao passar o mouse */
    font-family: Montserrat;
    font-weight: bolder;
  }

  button:hover {
    background-color: #a600ff; /* muda cor quando passa o mouse */
    color: bisque;
  }
</style>

